<p>
  <h2>
    <b>Cliente:</b>
    <%= @cliente.nome %>
  </h2>
</p>
<p>
  <h2>
    <b>Histórico de Vendas</b>
  </h2>
</p>

<table width="400">
  <tr>
    <th align="left">Venda</th>
    <th align="left">Pago</th>
    <th align="left">Data Compra</th>
    <th align="left">Data Pgto</th>
    <th align="left">Valor</th>
    <th align="left">Options</th>

  </tr>

<% @cliente.vendas.each do |venda| %>
  <tr>
    <td align="left"><%= venda.id %></td>
    <td align="left"><%= venda.recebido %></td>
    <td align="left"><%= format_data(venda.created_at) %></td>
    <td align="left"><%= format_data(venda.data_pagamento) if venda.data_pagamento %></td>
    <td align="left"><%= venda.total_venda %></td>
    <td align="left"><%= link_to 'Exibir', venda %></td>
    <td><%= link_to 'Receber', :controller => 'vendas', :action => 'receber', :id => venda.id if !venda.pago %></td>

  </tr>
<% end %>
