<h1>Listar Estoque</h1>

<table>
  <tr>
    <th>Produto</th>
    <th>Qtde</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estoques.each do |estoque| %>
  <tr>
    <td><%= estoque.produto.nome %></td>
    <td><%= estoque.qtde %></td>
    <td><%= link_to 'Exibir', estoque %></td>
    <td><%= link_to 'Editar', edit_estoque_path(estoque) %></td>
    <td><%= link_to 'Deletar', estoque, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Lancamento', new_estoque_path %>
