<p id="notice"><%= notice %></p>

<%= render :partial => '/clientes/dados_cliente', :locals => {:cliente => @venda.cliente} %>

<p>
  <b>
  <% if @venda.pago? %>
       Pago em <%= format_data(@venda.data_pagamento) %>
     <% else %>  
       em aberto, deseja receber <%= link_to 'click aqui', :action => 'receber' %>
  <% end %>
  </b>
</p>

<table width="400">
  <tr>
    <th align="left">Produto</th>
    <th align="left">Preco</th>
    <th align="left">Qtde</th>
    <th align="left">Total</th>
  </tr>

<% @venda.items.each do |item| %>
  <tr>
    <td align="left"><%= item.produto.nome %></td>
    <td align="left"><%= item.preco %></td>
    <td align="left"><%= item.qtde %></td>
    <td align="left"><%= item.valor_total %></td>
  </tr>
<% end %>
<br />
</table>

<p>
<b>Qtde Total: <%= @venda.items.sum('qtde') %></b>
</p>
<p>
<b>Valor Total: <%= @venda.items.sum('qtde*preco') %></b>
</p>


<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %> |
<%= link_to 'New', new_venda_path %>
